<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Quiz</title>
    <link rel="stylesheet" href="/css/createQuiz.css">
</head>
<body>
<h1>Create Quiz Tournament</h1>
<form action="/admin/create-quiz" method="post">
    <label for="name">Quiz Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="category">Category:</label>
    <select id="category" name="category">
        <option value="Any Category">Any Category</option>
        <option value="General Knowledge">General Knowledge</option>
        <option value="Entertainment: Books">Entertainment: Books</option>
        <option value="Science & Nature">Science & Nature</option>
        <option value="Science: Computers">Science: Computers</option>
        <option value="Science: Mathematics">Science: Mathematics</option>
        <option value="Sports">Sports</option>
        <option value="Geography">Geography</option>
        <option value="History">History</option>
        <option value="Art">Art</option>
        <option value="Animals">Animals</option>
    </select><br>

    <label for="difficulty">Difficulty:</label>
    <select id="difficulty" name="difficulty">
        <option value="Any difficulty">Any difficulty</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select><br>

    <label for="startDate">Start Date:</label>
    <input type="datetime-local" id="startDate" name="startDate" required><br>

    <label for="endDate">End Date:</label>
    <input type="datetime-local" id="endDate" name="endDate" required><br>

    <button type="submit">Create Quiz Tournament</button>
</form>
</body>
</html>
