<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Scores</title>
    <link rel="stylesheet" href="/css/quizScoresPage.css">
</head>
<body>
<h1>Quiz Scores</h1>
<div th:if="${scores.empty}">
    <p>No scores available yet. Participate in a quiz to see results here!</p>
</div>
<table th:if="${!scores.empty}">
    <thead>
    <tr>
        <th>Quiz ID</th>
        <th>Quiz Name</th>
        <th>Total Players</th>
        <th>Average Score</th>
        <th>Likes</th>
        <th>Player ID</th>
        <th>Player Name</th>
        <th>Completed Date</th>
        <th>Player's Score</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(scores)}">
        <td colspan="7">No scores available.</td>
    </tr>
    <tr th:each="score : ${scores}">
        <td th:text="${score.quizId}"></td>
        <td th:text="${score.quizName}"></td>
        <td th:text="${score.totalPlayers}"></td>
        <td th:text="${score.averageScore}"></td>
        <td th:text="${score.likes}"></td>
        <td th:text="${score.playerId}"></td>
        <td th:text="${score.playerName}"></td>
        <td th:text="${score.completedDate}"></td>
        <td th:text="${score.playerScore}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
