<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quiz Complete</title>
    <link rel="stylesheet" href="/css/quizComplete.css">
</head>
<body>
<h1>Quiz Completed!</h1>
<h2 th:text="'Your Score: ' + ${finalScore} + ' / ' + ${totalQuestions}"></h2>

<h3>Review Your Answers:</h3>
<ul>
    <li th:each="question, iterStat : ${questions}">
        <p>Question <span th:text="${iterStat.index + 1}"></span>: <span th:text="${question.text}"></span></p>
        <p>Your Answer: <span th:text="${question.userAnswer}"></span></p>
        <p>Correct Answer: <span th:text="${question.correctAnswer}"></span></p>
    </li>
</ul>

<form th:action="@{/quizzes/like-dislike/{quizId}(quizId=${quizId})}" method="post">
    <p>Did you enjoy this quiz?</p>
    <button type="submit" name="like" value="true">Like</button>
    <button type="submit" name="like" value="false">Dislike</button>
</form>

<a th:href="@{/viewAllQuizzes}">Go Back to Quizzes</a>
</body>
</html>
