<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
  <link rel="stylesheet" href="css/register.css">
</head>
<body>
<div class="form">
  <form action="/register" method="post" enctype="multipart/form-data">
    <h2>Register</h2>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" name="firstName" placeholder="Firstname" required>
    </div>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" name="lastName" placeholder="Lastname" required>
    </div>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" name="username" placeholder="Username" required>
    </div>
    <div class="input-box">
      <i class="fa fa-unlock-alt" aria-hidden="true"></i>
      <input type="password" name="password" placeholder="Password"
             pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
             title="Password must be at least 6 characters long, contain at least one uppercase letter, one lowercase letter, and one number."
             required>
    </div>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="email" name="email" placeholder="example@email.com" required>
    </div>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" name="phoneNumber" placeholder="0064205557777">
    </div>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" name="address" placeholder="Address">
    </div>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <select name="role" required>
        <option value="ROLE_PLAYER">Player</option>
        <option value="ROLE_ADMIN">Admin</option>
      </select>
    </div>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="file" name="profilePicture"
             placeholder="Upload your image in jpg, png, or gif format" accept="image/*">
    </div>
    <div class="input-box">
      <input type="submit" value="Register">
    </div>
    <a href="/">Navigate to main</a>
  </form>
</div>
</body>
</html>
