<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
<div class="container">
    <h1>Reset Password</h1>
    <form action="/password/reset-password" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,}$"
               title="Password must be at least 6 characters long, contain at least one uppercase letter, one lowercase letter and one number."  required>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Reset Password</button>
        <!-- Display Error Message -->
        <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>
    </form>
    <script>
        // Ensure confirm password matches new password
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirmPassword');

        confirmPassword.addEventListener('input', () => {
            if (password.value !== confirmPassword.value) {
                confirmPassword.setCustomValidity("Passwords do not match.");
            } else {
                confirmPassword.setCustomValidity("");
            }
        });
    </script>
</div>
</body>
</html>
